* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}


.about {
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
    width: 580px;
    height: auto;
    max-width: 100%;
    padding: 0 10px;
}

.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.main {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #777777;
    Letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h1 {
    font-size: 65px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}

.all-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #777777;
    Line-height: 30px;
    margin-bottom: 35px;

}

@media screen and (max-width: 1250px) {
    .about {
        width: 100%;
        height: auto;
        padding: 60px 0;
    }

    .all-text {
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 650px) {
    .about.main img {
        margin-bottom: 35px;
    }

    .all-text h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
}


/**************ourteam***************/

.ourteam {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: white;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #111111;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    width: 330px;
    height: 416px;
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
             -0.5em -0.5em 1em #ffffff;
    border-radius: 20px;
}

.container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card .imgBx {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card  .contentBx h4 {
    color: #000000;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    transition: color;
}

.container .card .contentBx h5 {
    color: #6c758f;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

}
